pre {
  overflow-x: auto;
  width: fit-content;
  min-width: 75%;
  max-width: 120%;
  margin: 1rem 0;
  padding: 0.80rem;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: #0f0f0f;
  line-height: 1.5;
}

:not(pre) > code {
  background-color: #343434;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: .125rem .25rem;
}

pre code {
  background-color: transparent;
  border: none;
  display: block;
  color: #f0f0f0;
  font-family: "Fira Code", monospace;
  white-space: pre;
}

